<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.sco.movieratings">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ui.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MovieActivity"
                  android:label="@string/movie_details_activity"
                  android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVTY"
                android:value="org.sco.movieratings.MainActivity" />
        </activity>
        <activity android:name=".SettingsActivity"
                  android:label="@string/settings_activity"
                  android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVTY"
                android:value="org.sco.movieratings.MainActivity" />
        </activity>
        <provider
            android:authorities="org.sco.movieratings.data.MovieProvider"
            android:name="org.sco.movieratings.data.generated.MovieProvider"
            android:exported="false"/>
    </application>

</manifest>